<h2>Statuses</h2>

<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" ng-model="self.status.name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Description" ng-model="self.status.description" size="50">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="0" ng-model="self.status.level" size="2">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="self.create(self.status)">Add</button>
  </div>
</form>

<form class="form-inline" ng-repeat="status in self.statuses | orderBy : 'level'">
	<div class="form-group">
    <input type="text" class="form-control" placeholder="Name" ng-model="status.name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Description" ng-model="status.description" size="50">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="0" ng-model="status.level" size="2">
  </div>
  <div class="form-group">
	  <button class="btn btn-default" ng-click="self.update(status)">Save</button>
	  <button class="btn btn-danger" ng-click="self.delete(status)">Delete</button>
  </div>
</form>
