<form class="navbar-form navbar-left">
  <div class="form-group">
    <select class="form-control" ng-model="self.event._service" ng-options="service._id as service.name for service in self.services"></select>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="self.event._status" ng-options="status._id as status.name for status in self.statuses"></select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Message" ng-model="self.event.message" size="60">
  </div>
  <div class="form-group">
  	<button type="submit" class="btn btn-primary" ng-click="self.create(self.event)">Send</button>
  </div>
</form>
