body {
	padding-top: 65px;
	padding-bottom: 20px;
}
.navbar-brand {
	padding: 9px;
}
.navbar-brand > img {
	width: 115px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
